<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="StyleHTML.css?1422585377" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default navbar-dark navbar-fixed-top">
	 	<div class="container-fluid">
	 	   <div class="navbar-header">
                    <a href="index.php" class="navbar-brand" style="height: 80px;"><img src="../static/logo.jpg" style="margin-top: -15px; width:120px;height:80px; margin-left: -15px;"></a> 
                </div>
		</div>
	</nav>
	<br><br><br><br><br>
	<div class="container">
	<div class="jumbotron">
  <h1 class="display-4"> {{ predict }}</h1><!--<h2> NO BREAST CANCER IS PREDICTED</h2>-->
  <p class="lead">Eat Healthy. Stay Fit.</p>
  <hr class="my-4">
  <h2 style="color:red;">Symptoms</h2>
  <ul style="font-size: 20px;">
  <li>New lump in the breast or underarm (armpit).</li>
  <li>Thickening or swelling of part of the breast.</li>
  <li>Irritation or dimpling of breast skin.</li>
  <li>Redness or flaky skin in the nipple area or the breast.</li>
  <li>Pulling in of the nipple or pain in the nipple area.</li>
  <li>Nipple discharge other than breast milk, including blood.</li>
  <li>Any change in the size or the shape of the breast.</li>
  <li>Pain in any area of the breast.</li>
</ul>
<p style="color:royalblue; font-weight: bold;">Keep in mind that these symptoms can happen with other conditions that are not cancer.</p>
  <h2 style="color:green;">Preventions</h2>
  <ul style="font-size: 20px;">
  <li>Limit alcohol</li>
  <li>Maintain a healthy weight.</li>
  <li>Be physically active. </li>
  <li>Breast-feeding might play a role in breast cancer prevention. The longer you breast-feed, the greater the protective effect.</li>
  <li>Limit postmenopausal hormone therapy.</li>
</ul>
  <br>
  
</div>
</div>
</body>
</html>